<link rel="stylesheet" href="/admin_dashboard/views/orders/orders.css">
<div id="calendar"></div>

<script>
    $("#calendar").evoCalendar({
        'eventDisplayDefault': false,
        'sidebarDisplayDefault': false,
        'format': 'MM dd, yyyy'
    });

    function generateUniqueColor(id) {
        var hue = (id * 137.508) % 360;
        var color = 'hsl(' + hue + ', 70%, 60%)';
        return color;
    }

    let orders = [
    {% for order in orders %}
        {
        orderId: '{{ order.id }}',
        renterName: '{{ order.firstname }} {{ order.lastname }}',
        car: '{{ order.name }}',
        startDate: '{{ order.rental_date|date("M d, Y") }}',
        endDate: '{{ order.rental_date|date_modify('+' ~ order.rental_duration ~ ' days')|date('M d, Y') }}',
        }{% if not loop.last %},{% endif %}
    {% endfor %}
    ];
    $('#calendar').evoCalendar('selectDate', orders[0].startDate);

    document.querySelectorAll('.calendar-day').forEach(item => {
        let div = item.querySelector('div');
        let date = new Date(div.getAttribute('data-date-val'));

        orders.forEach(order => {
            let startDate = new Date(order.startDate);
            let endDate = new Date(order.endDate);
            
            if (date >= startDate && date <= endDate) {
                item.style.backgroundColor = generateUniqueColor(order.orderId);
                item.style.boxShadow = '0 0 10px ' + generateUniqueColor(order.orderId);
                div.style.color = 'white';

                if (date.getTime() == startDate.getTime()) {
                    item.style.borderRadius = '20px 0 0 20px';
                    $("#calendar").evoCalendar('addCalendarEvent', [
                        {
                            id: order.orderId,
                            name: order.renterName,
                            type: 'Rental',
                            date: order.startDate,
                            color: generateUniqueColor(order.orderId)
                        }
                    ]);
                } else if (date.getTime() == endDate.getTime()) {
                    item.style.borderRadius = '0 20px 20px 0';
                    $("#calendar").evoCalendar('addCalendarEvent', [
                        {
                            id: order.orderId,
                            name: order.renterName,
                            type: 'Rental',
                            date: order.endDate,
                            color: generateUniqueColor(order.orderId)
                        }
                    ]);
                } else {
                    item.style.borderRadius = '0';
                }
            }
        });
    });

</script>