<link rel="stylesheet" href="/admin_dashboard/views/orders/orders.css">


<div class="container">
    <div class="nav nav-tabs col-lg-12 justify-content-center" role="tablist">
        <button class="nav-link" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">All Cars</button>
        <button class="nav-link" id="nav-shopping-tab" data-bs-toggle="tab" data-bs-target="#nav-shopping" role="tab" aria-controls="nav-shopping" aria-selected="false">Search Agenda</button>
    </div>
    <div class="row input-panel" style="position: sticky; top: 0; z-index: 99;" id="inputPanel">
        <div class="col-5" id="infoGroup">
            <ul class="card list-group">
                <li class="list-group-item d-flex justify-content-between">
                    <span class="badge bg-primary rounded-pill">Total Orders</span>
                    <span class="badge bg-primary rounded-pill" id="ordersThisMonth"></span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span class="">Legend</span>
                    <div id="carMapping"></div>
                </li>
            </ul>
        </div>
        <div class="col-5 ms-auto" id="inputGroup">
            <ul class="card list-group">
                <li class="list-group-item d-flex justify-content-between">
                    <input type="text" id="autoComplete" class="form-control">
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <input type="date" id="datepicker" class="form-control">
                </li>
            </ul>
            <button class="btn btn-primary mt-3" id="searchBtn">Search</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 mt-5">
            <div id="calendar"></div>
        </div>
        <div class="col-3">
            <button class="btn btn-primary rounded-circle d-flex align-items-center justify-content-center" id="goToTopBtn" style="position: fixed; opacity: 0; bottom: 20px; right: 20px; z-index: 99; width: 50px; height: 50px;">
                <i class="fas fa-arrow-up"></i>
            </button>
        </div>
    </div>
</div>

<script src="/admin_dashboard/views/orders/orders.js"></script>
<script>
    let orders = [
        {% for order in orders %}
            {
            orderId: '{{ order.id }}',
            carId: '{{ order.carId }}',
            renterName: '{{ order.firstname }} {{ order.lastname }}',
            car: '{{ order.name }}',
            startDate: '{{ order.rental_date|date("M d, Y") }}',
            endDate: '{{ order.rental_date|date_modify('+' ~ order.rental_duration ~ ' days')|date('M d, Y') }}',
            }{% if not loop.last %},{% endif %}
        {% endfor %}
    ];

    let cars = [];
    orders.forEach(order => {
        if (!cars[order.carId]) {
            cars[order.carId] = order.car;
        }
    });
    console.log(cars);

    const autoCompleteJS = new autoComplete({ 
        placeholder: "Search by car name",
        data: {
            src: cars,
        },
        resultsList: {
            element: (list, data) => {
                if (!data.results.length) {
                    const message = document.createElement("div");
                    message.setAttribute("class", "no_result");
                    message.innerHTML = `<span>Found no results for "${data.query}"</span>`;
                    list.prepend(message);
                }
                // found 
                if (data.results.length) {
                    data.results.forEach((result) => {
                        console.log(result);
                        const option = document.createElement("a");
                        option.setAttribute("class", "autoComplete_result");
                        option.setAttribute("href", `/admin_dashboard/orders/${result}`);
                        option.setAttribute("data-value", result);
                        option.innerHTML = `<span>${result}</span>`;
                        list.appendChild(option);
                    });
                }
            },
        },
     });
    
    function generateUniqueColor(id) {
        var hue = (id * 137.508) % 360;
        var color = 'hsl(' + hue + ', 70%, 60%)';
        return color;
    }
</script>
<script src="/admin_dashboard/views/orders/generateCalendar.js"></script>
<script>

    window.onscroll = function () {
        let inputPanel = document.getElementById('inputPanel');
        let inputGroup = document.getElementById('inputGroup');
        let infoGroup = document.getElementById('infoGroup');

        let goToTopBtn = document.getElementById('goToTopBtn');
        goToTopBtn.onclick = function () {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        };

        var threshold = 100;
        if (window.pageYOffset > threshold) {
            let opacity = (window.pageYOffset - threshold) / 100;
            if (opacity > 0.5) opacity = 0.5;
            inputPanel.style.paddingTop = Math.min(window.pageYOffset - threshold, 20) + 'px';
            inputPanel.style.backdropFilter = `blur(${opacity * 10}px)`;
            goToTopBtn.style.opacity = 1;
            goToTopBtn.style.transform = `translateY(-${Math.min(window.pageYOffset - threshold, 20)}px)`;
        } else {
            let opacity = (window.pageYOffset - threshold) / 100;
            inputPanel.style.paddingTop = '0px';
            inputPanel.style.backdropFilter = `blur(${opacity * 10}px)`;
            goToTopBtn.style.opacity = 0;
        }
    }
</script>