<link rel="stylesheet" href="/admin_dashboard/views/orders/orders.css">

<div class="nav nav-tabs col-lg-12 justify-content-center" role="tablist">
    <button class="nav-link" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">All Cars</button>
    <button class="nav-link" id="nav-shopping-tab" data-bs-toggle="tab" data-bs-target="#nav-shopping" role="tab" aria-controls="nav-shopping" aria-selected="false">Search Agenda</button>
</div>

<div class="card">
    <div id="calendar" style="height: 600px"></div>
</div>

<script>
    function generateUniqueColor(id) {
        var hue = (id * 137.508) % 360;
        var color = 'hsl(' + hue + ', 70%, 60%)';
        return color;
    }

    {# let orders = [
    {% for order in orders %}
        {
        orderId: '{{ order.id }}',
        renterName: '{{ order.firstname }} {{ order.lastname }}',
        car: '{{ order.name }}',
        startDate: '{{ order.rental_date|date("M d, Y") }}',
        endDate: '{{ order.rental_date|date_modify('+' ~ order.rental_duration ~ ' days')|date('M d, Y') }}',
        }{% if not loop.last %},{% endif %}
    {% endfor %}
    ]; #}

    const Calendar = tui.Calendar;
    const container = document.getElementById('calendar');
    const options = {
        template: {
            time(event) {
            const { start, end, title } = event;

            return `<span style="color: white;">${formatTime(start)}~${formatTime(end)} ${title}</span>`;
            },
            allday(event) {
            return `<span style="color: gray;">${event.title}</span>`;
            },
        },
        useFormPopup: true,
        useDetailPopup: true,
        usageStatistics: false,
        defaultView: 'month',
        timezone: {
            zones: [
                {
                    timezoneName: 'Europe/London',
                    displayLabel: 'London',
                },
            ],
        },
        useDetailPopup: true,
        useCreationPopup: true,
        calendars: [
            {% for order in orders %}
                {
                    id: '{{ order.id }}',
                    calendarId: '1',
                    name: '{{ order.name }}',
                    start: '{{ order.rental_date|date("Y-m-d") }}',
                    end: '{{ order.rental_date|date_modify('+' ~ order.rental_duration ~ ' days')|date('Y-m-d') }}',
                    color: generateUniqueColor('{{ order.id }}'),
                }{% if not loop.last %},{% endif %}
            {% endfor %}
        ],
    }

    const calendar = new Calendar(container, options);

</script>