<!DOCTYPE html>
<html>
<head>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }

    .italic {
        font-style: italic;
    }

    .separator {
        border-top: 1px solid #000;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .renter-info,
    .company-info {
        margin-bottom: 20px;
    }

    h1 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    strong {
        font-weight: bold;
    }

    .row::after {
        content: "";
        display: table;
        clear: both;
    }

    .col-md-6 {
        width: 50%;
        float: left;
    }

    .col-md-3 {
        width: 25%;
        float: left;
    }

    .container {
        width: 100%;
        margin: 0 auto;
    }
</style>
</head>
<body>
    <div class="container">
        <h1 style="font-size: 28px; margin-bottom: 20px;">CAR RENTAL CONTRACT</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="renter-info">
                    <h2>Renter:</h2>
                    <p>
                        <strong>Name:</strong> {{ data[0].firstname }} {{ data[0].lastname }}<br>
                        <strong>Address:</strong> {{ data[0].address }}<br>
                        <strong>Contact Number:</strong> {{ data[0].phone_number }}<br>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="company-info">
                    <h2>Car Rental Company:</h2>
                    <p>
                        <strong>Name:</strong> One Rent Car<br>
                        <strong>Address:</strong> Street Juba, Durres<br>
                        <strong>NUIS:</strong> L12345678K<br>
                    </p>
                </div>
            </div>
        </div>

        <h2>Rental Vehicle Details:</h2>
        <div class="row">
            <div class="col-md-3">
                <strong>Vehicle Make:</strong> {{ data[0].make }}
            </div>
            <div class="col-md-3">
                <strong>Vehicle Model:</strong> {{ data[0].model }}
            </div>
            <div class="col-md-3">
                <strong>Year:</strong> {{ data[0].year }}
            </div>
            <div class="col-md-3">
                <strong>License Plate:</strong> {{ data[0].license_plate }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <strong>Color:</strong> {{ data[0].color }}
            </div>
        </div>

        <!-- Other sections of the contract (Rental Period, Rental Charges, Insurance, etc.) -->

        <div class="separator"></div>

        <div class="signature row">
            <div class="col-md-6 italic">
                <p>Renter:</p>
                <p><strong>Signature:</strong> __________________</p>
                <p><strong>Name:</strong> [Renter's Full Name]</p>
                <p><strong>Date:</strong> __________________</p>
            </div>
            <div class="col-md-6 italic">
                <p>Car Rental Company:</p>
                <p><strong>Signature:</strong> __________________</p>
                <p><strong>Name:</strong> [Car Rental Company Name]</p>
                <p><strong>Date:</strong> __________________</p>
            </div>
        </div>
    </div>
</body>
</html>
