<style>
.modal-content {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal.fade .modal-dialog {
  transform: scale(0.8);
  opacity: 0;
  transition: all 0.3s ease;
}

.modal.fade.show .modal-dialog {
  transform: scale(1);
  opacity: 1;
}

.modal-open .modal-backdrop {
    backdrop-filter: blur(0px);
    opacity: 0;
    transition: backdrop-filter 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
}

.modal-open .modal-backdrop.show {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
}
</style>

<div class="container">

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body pt-4 p-3">
            {% if customers is empty %}
                <p class="text-center" id="nocustomer">No customers</p>
            {% endif %}
          <ul class="list-group" id="list-group">
            {% for customer in customers %}
                <div class="d-flex flex-column">
                    <h6 class="mb-3 text-sm">{{ customer.firstname }} {{ customer.lastname }}</h6>
                    <span class="mb-2 text-xs">Phone Number: <a href="tel:{{ customer.phone_number }}" class="text-dark font-weight-bold ms-sm-2">{{ customer.phone_number }}</a></span>  
                    <span class="mb-2 text-xs">Email Address: <a href="mailto:{{ customer.email }}" class="text-dark ms-sm-2 font-weight-bold">{{ customer.email }}</a></span>
                    <span class="text-xs">Created at: <span class="text-dark ms-sm-2 font-weight-bold">{{ customer.created_at }}</span></span>
                </div>
                <div class="ms-auto text-end">
                    <a class="btn btn-link text-dark px-3 mb-0" href="javascript:;" data-bs-toggle="modal" data-bs-target="#modal" onclick="loadCustomer({{ customer.id }})"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>View</a>
                    <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="javascript:;" onclick="deleteCustomer({{ customer.id }})"><i class="far fa-trash-alt me-2"></i>Delete</a>
                </div>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="loading" class="modal-body text-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
            <div class="modal-body" id="modalBody"style="display: none"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="/admin_dashboard/views/customers/customers.js"></script>
<script>
    let customer = new Customer();

    function loadCustomer(id) {
        customer.loadCustomer(id).then(function(c) {
            document.getElementById('modalLabel').innerHTML = c.firstname + ' ' + c.lastname;
        });

        customer.loadOrders(id).then(function (c) {
            console.log(c);
        });
    }
</script>
