<link rel="stylesheet" href="/admin_dashboard/views/customers/customers.css">

<div class="container" style="z-index: 1">
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCustomerModal">
        Add Customer
      </button>
      <div class="card">
        <div class="card-body pt-4 p-3">
            {% if customers is empty %}
                <p class="text-center" id="nocustomer">No customers</p>
            {% endif %}
          <ul class="list-group" id="list-group">
            {% for customer in customers %}
                <ul class="list-group" id='list-{{ customer.id }}'>
                    <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                      <div class="d-flex flex-column">
                          <h6 class="mb-3 text-sm" id="userIdents">{{ customer.firstname }} {{ customer.lastname }}</h6>
                          <span class="mb-2 text-xs" id="userPhone">Phone Number: <a href="tel:{{ customer.phone_number }}" class="text-dark font-weight-bold ms-sm-2">{{ customer.phone_number }}</a></span>  
                          <span class="mb-2 text-xs" id="userEmail">Email Address: <a href="mailto:{{ customer.email }}" class="text-dark ms-sm-2 font-weight-bold">{{ customer.email }}</a></span>
                          <span class="text-xs">Created at: <span class="text-dark ms-sm-2 font-weight-bold">{{ customer.created_at }}</span></span>
                      </div>
                      <div class="ms-auto text-end">
                          <a class="btn btn-link text-dark px-3 mb-0" href="javascript:;" data-bs-toggle="modal" data-bs-target="#modal" onclick="loadCustomer({{ customer.id }})"><i class="fas fa-eye text-dark me-2" aria-hidden="true"></i>View</a>
                          <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="javascript:;" onclick="deleteCustomer({{ customer.id }})"><i class="far fa-trash-alt me-2"></i>Delete</a>
                      </div>
                    </li>
                </ul>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content customer-info">
            <div class="modal-header">
                <h5 class="modal-title form-row" id="modalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="loading" class="modal-body text-center mt-3">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
            <div class="modal-body" id="modalBody"style="display: none"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Customer Modal -->
<div class="modal fade" id="addCustomerModal" tabindex="-1" aria-labelledby="addCustomerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCustomerModalLabel">Add Customer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row mb-3">
          <div class="col-md-6">
            <!-- First Name -->
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="Enter first name">
          </div>
          <div class="col-md-6">
            <!-- Last Name -->
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Enter last name">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <!-- Phone Number -->
            <label for="phone" class="form-label">Phone Number</label>
            <input type="text" class="form-control" id="phone" placeholder="Enter phone number">
          </div>
          <div class="col-md-6">
            <!-- Email -->
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="createCustomer()">Save</button>
      </div>
    </div>
  </div>
</div>

<script src="/admin_dashboard/views/customers/customers.js"></script>
<script>
    let customer = new Customer();

    function loadCustomer(id) {
        customer.loadCustomer(id).then(function(c) {
            document.getElementById('loading').style.display = 'none';
            document.getElementById('modalLabel').innerHTML = c[0].firstname + ' ' + c[0].lastname;
            
            document.getElementById('modalBody').style.display = 'block';
            document.getElementById('modalBody').innerHTML = `
            <ul class="list-group" id="list-group">
                <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                  <div class="d-flex flex-column">
                      <span class="mb-2 text-xs" id="userPhone-modal">Phone Number: <a href="tel:${c[0].phone_number}" class="text-dark font-weight-bold ms-sm-2">${c[0].phone_number}</a></span>  
                      <span class="mb-2 text-xs" id="userEmail-modal">Email Address: <a href="mailto:${c[0].email}" class="text-dark ms-sm-2 font-weight-bold">${c[0].email}</a></span>
                      <span class="text-xs">Created at: <span class="text-dark ms-sm-2 font-weight-bold"></span>${c[0].created_at}</span>
                  </div>
                  <div class="ms-auto text-end">
                      <a class="btn btn-link text-dark px-3 mb-0" id="editButton" onclick="editCustomer(${c[0].id})"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a>
                      <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="javascript:;" onclick="deleteCustomer(${c[0].id})"><i class="far fa-trash-alt me-2"></i>Delete</a>
                  </div>
                </li>
            </ul>
            `;
        });

        customer.loadOrders(id).then(function (c) {
          document.getElementById('modalBody').innerHTML += `
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="text-center align-middle">#</th>
                  <th scope="col">Rental Dates</th>
                  <th scope="col">Car</th>
                  <th scope="col">Order Status</th>
                  <th scope="col">Total</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                ${c['revenue'].map((r, i) => {
                  const rentalStartDate = new Date(r['rental_date']);
                  const rentalDuration = Number(r['rental_duration']);
                  const rentalEndDate = new Date(rentalStartDate.getTime() + rentalDuration * 24 * 60 * 60 * 1000);

                  const formattedDates = `${rentalStartDate.toISOString().slice(0, 10)} - ${rentalEndDate.toISOString().slice(0, 10)}`;

                  const today = new Date();
                  const isOrderActive = today <= rentalEndDate;
                  let orderStatus = '';
                  if (isOrderActive) {
                    orderStatus += ` <span class="badge badge-sm bg-gradient-info ms-2">Active</span>`;
                  } else {
                    orderStatus += ` <span class="badge badge-sm bg-gradient-success ms-2">Completed</span>`;
                  }

                  const carName = c['carData'].find(car => car['id'] === r['car_id'])['name'];

                  return `
                    <tr>
                      <td class="text-center align-middle">${i + 1}</td>
                      <td class="text-center align-middle">${formattedDates}</td>
                      <td class="text-center align-middle">${carName}</td>
                      <td class="text-center align-middle">${orderStatus}</td>
                      <td class="text-center align-middle">${r['price']}</td>
                      <td class="text-center align-middle"><a href="/admin_dashboard/index.php/invoice/${r['id']}"><button type="button" class="btn btn-sm">Generate Invoice</button></a></td>
                    </tr>
                  `;
                }).join('')}
              </tbody>
            </table>
          </div> `;
        });
    }

    function deleteCustomer(id) {
      customer.deleteCustomer(id).then(function (response) {
        if (JSON.parse(response).status) {
          alertify.notify(JSON.parse(response).message, 'success', 5);
        } else {
          alertify.notify(JSON.parse(response).message, 'error', 5);
        }
        setTimeout(function() {
          window.location.reload();
        }, 1000);
      });
    }

    function editCustomer(id) {
      let userPhone = document.getElementById('userPhone-modal');
      let userEmail = document.getElementById('userEmail-modal');
      let userCreds = document.getElementById('modalLabel');

      let firstname = userCreds.innerText.split(' ')[0].trim();
      let lastname = userCreds.innerText.split(' ')[1].trim();

      document.querySelector('.customer-info').classList.add('editing');

      userPhone.innerHTML = `<input type="text" class="form-control" id="phone" value="${userPhone.innerText.split(':')[1].trim()}">`;
      userEmail.innerHTML = `<input type="text" class="form-control" id="email" value="${userEmail.innerText.split(':')[1].trim()}">`;
      userCreds.innerHTML = `<input type="text" class="form-control" id="firstname" value="${firstname}">`;
      userCreds.insertAdjacentHTML('beforeend', `<input type="text" class="form-control" id="lastname" value="${lastname}">`);

      let editButton = document.getElementById('editButton');
      editButton.innerHTML = '<i class="fas fa-check text-dark me-2" data-bs-dismiss="modal" aria-hidden="true"></i>Save';
      editButton.setAttribute('onclick', `saveCustomer(${id})`);

      setTimeout(() => {
        document.querySelector('.customer-info').classList.remove('editing');
      }, 1000);
    }

    function saveCustomer(id) {
      let data = {
        id: id,
        firstname: document.getElementById('firstname').value,
        lastname: document.getElementById('lastname').value,
        phone_number: document.getElementById('phone').value,
        email: document.getElementById('email').value
      };

      customer.updateCustomer(id, data).then(function (response) {
        if (JSON.parse(response).status) {
          alertify.notify(JSON.parse(response).message, 'success', 5);
        } else {
          alertify.notify(JSON.parse(response).message, 'error', 5);
        }
        setTimeout(function() {
          restoreView(data);
        }, 1000);
      });
    }

    function restoreView(data) {
        document.getElementById('modalLabel').innerHTML = '';
        document.getElementById('modalBody').innerHTML = '';

        let loading = document.getElementById('modalLabel').innerHTML = `
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        `;

        setTimeout(() => {
          loadCustomer(data.id);
          let ul = document.getElementById('list-' + data.id);
          ul.querySelector('#userIdents').innerHTML = `${data.firstname} ${data.lastname}`;
          ul.querySelector('#userEmail').innerHTML = `Email: <a href="mailto:${data.email}">${data.email}</a>`;
          ul.querySelector('#userPhone').innerHTML = `Phone: <a href="tel:${data.phone_number}">${data.phone_number}</a>`;
          loading = '';
        }, 300);
    }

    function createCustomer() {
      let modal = document.getElementById('addCustomerModal');
      let modalBody = modal.querySelector('.modal-body');

      if (modalBody.querySelector('#firstName').value === '' || modalBody.querySelector('#lastName').value === '') {
        alertify.notify(`Please fill ${modalBody.querySelector('#firstName').value === '' ? 'first' : 'last'} name`, 'error', 5);
        return;
      }

      let data = {
        firstname: modalBody.querySelector('#firstName').value,
        lastname: modalBody.querySelector('#lastName').value,
        phone_number: modalBody.querySelector('#phone').value,
        email: modalBody.querySelector('#email').value
      };
      customer.addCustomer(data).then(function (response) {
        console.log(response);
        if (JSON.parse(response).status) {
          alertify.notify(JSON.parse(response).message, 'success', 5);
          setTimeout(function() {
            window.location.reload();
          }, 1000);
        } else {
          alertify.notify(JSON.parse(response).message, 'error', 5);
        }
      });
    }

    document.addEventListener('DOMContentLoaded', function () {
      const viewCustomer = document.querySelector('[aria-labelledby="exampleModalLabel"]');
      const addCustomerModal = document.querySelector('[aria-labelledby="addCustomerModalLabel"]');

      viewCustomer.addEventListener('hidden.bs.modal', function () {
        document.getElementById('modalLabel').innerHTML = '';
        document.getElementById('modalBody').innerHTML = '';
      });

      addCustomerModal.addEventListener('hidden.bs.modal', function () {
        addCustomerModal.querySelector('#firstName').value = '';
        addCustomerModal.querySelector('#lastName').value = '';
        addCustomerModal.querySelector('#phone').value = '';
        addCustomerModal.querySelector('#email').value = '';
      });
    });

</script>
