<style>
	.grid-item:hover {
		transform: scale(1.01);
		opacity: 0.8;
		cursor: pointer;

		.delete-image {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.delete-image {
		display: none;
	}

	.stacked-container {
		position: relative;
	}

	.image-container {
		position: relative;
		display: inline-block;
	}

	.delete-image {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: rgba(255, 255, 255, 0.5);
		width: 40px;
		height: 40px;
		border-radius: 50%;
		padding: 35px;
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	}

	.grid-item:hover .delete-image {
		animation: fadeIn 0.3s ease-in-out;
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	.grid-item {
		transition: all 0.3s ease-in-out;
	}

	.special-list-add:hover {
		background-color: #f1f1f1;
	}

	.special-list-add {
		transition: all 0.3s ease-in-out;
	}
</style>

<a class="text-sm font-weight-bold mb-0 icon-move-left ms-auto view-link" href="/admin_dashboard/index.php/cars">
    <button class="btn btn-primary btn-sm"><i class="fas fa-arrow-left text-sm ms-1" aria-hidden="true"></i>&nbsp;Back</button>
</a>

<div class="col-md-12 mb-lg-0 mb-4">
	<form class="form" id="editForm">
		<div class="card mt-4 mb-5">
			<div class="card-header pb-0 p-3">
			<div class="row">
				<div class="col-6 d-flex align-items-center">
				<h4 class="mb-0">{{cars.name}}</h4>
				</div>
				<div class="col-6 text-end">
					<button type="submit" class="btn bg-gradient-dark mb-0">
						<i class="fas fa-save opacity-8 text-white me-1"></i>
						&nbsp;&nbsp;Save
					</button>
				</div>
			</div>
			</div>
			<div class="card-body p-3">
				<div class="row mb-3">
					<div class="col mb-md-0 mb-4">
							<div class="card card-body border card-plain border-radius-lg d-flex align-items-center flex-row">
								<div class="row" style="flex: 1;">
									<div class="col">
										<div class="mb-3">
											<label for="name" class="form-label">Name</label>
											<input type="text" class="form-control" id="name" name="name" value="{{cars.name}}">
											<div class="invalid-feedback">Please enter a valid name.</div>
										</div>
										<div class="mb-3">
											<label for="description" class="form-label">Description</label>
											<textarea class="form-control" id="description" name="description" rows="3">{{cars.description}}</textarea>
											<div class="invalid-feedback">Please enter a valid description.</div>
										</div>
										<div class="mb-3">
											<label for="price" class="form-label">Price</label>
											<input type="text" class="form-control" id="price" name="price" value="{{cars.price}}">
											<div class="invalid-feedback">Please enter a valid price.</div>
										</div>
										<div class="mb-3">
											<label for="make" class="form-label">Make</label>
											<input type="text" class="form-control" id="make" name="make" value="{{cars.make}}">
										</div>
										<div class="mb-3">
											<label for="model" class="form-label">Model</label>
											<input type="text" class="form-control" id="model" name="model" value="{{cars.model}}">
										</div>
									</div>
									<div class="col">
										<div class="mb-3">
											<label for="travel_distance" class="form-label">Travel Distace</label>
											<input type="text" class="form-control" id="travel_distance" name="travel_distance" value="{{cars.travel_distance}}">
											<div class="invalid-feedback">Please enter a valid number.</div>
										</div>
										<div class="mb-3">
											<label for="transmission" class="form-label">Transmission</label>
											<select class="form-select" id="transmission" aria-label="Select the car transmission">
												<option value="0" {% if cars.transmission == 0 %}selected{% endif %}>Automatic</option>
												<option value="1" {% if cars.transmission == 1 %}selected{% endif %}>Manual</option>
											</select>
										</div>
										<div class="mb-3">
											<label for="year" class="form-label">Year</label>
											<input type="text" class="form-control" id="year" name="year" value="{{cars.year}}">
											<div class="invalid-feedback">Please enter a valid number.</div>
										</div>
										<div class="mb-3">
											<label for="license_plate" class="form-label">License Plate</label>
											<input type="text" class="form-control" id="license_plate" name="license_plate" value="{{cars.license_plate}}">
										</div>
										<div class="mb-3">
											<label for="color" class="form-label">Color</label>
											<input type="text" class="form-control" id="color" name="color" value="{{cars.color}}">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<hr class="horizontal dark mt-2 mb-2"></hr>
				<div class="grid mb-2 mb-5" style="display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 20px;">
					{% for index, image in cars.image %}
						<div class="stacked-container">
							<div class="grid-item mx-3 mt-2 special-list">
								<img src="{{ image }}" id="car-{{cars.id}}-{{index}}" class="img-fluid rounded shadow" alt="image" onclick="viewImage(this.id)">
								<i class="fa-solid fa-trash fa-2xl delete-image" id="delete-{{cars.id}}-{{index}}" onclick="confirmDelete(this.id)"></i>
							</div>
						</div>
					{% endfor %}
					<div class="grid-item mx-3 mt-2 special-list-add" style="border: 1px dashed #000; display: flex; justify-content: center; align-items: center; border-radius: 10px;">
						<i class="fa-solid fa-plus fa-2xl add-image"></i>
					</div>
					</form>
				</div>
			</div>
		</div>
	</form>
</div>

<script src="/admin_dashboard/views/cars/cars.js"></script>
<script>
	let Car = new Cars();

	document.addEventListener('DOMContentLoaded', function() {
		document.getElementById('editForm').addEventListener('submit', function(e) {
			e.preventDefault();

			let formData = new FormData(this);
			formData.append('id', {{cars.id}});
			formData.append('name', document.getElementById('name').value);
			formData.append('description', document.getElementById('description').value);
			formData.append('price', document.getElementById('price').value);
			formData.append('make', document.getElementById('make').value);
			formData.append('model', document.getElementById('model').value);
			formData.append('travel_distance', document.getElementById('travel_distance').value);
			formData.append('transmission', document.getElementById('transmission').value);
			formData.append('year', document.getElementById('year').value);
			formData.append('license_plate', document.getElementById('license_plate').value);
			formData.append('color', document.getElementById('color').value);

			Car.updateData(formData).then(function(response) {
				if (JSON.parse(response).status) {
					alertify.success(JSON.parse(response).message);
					setTimeout(function() {
						window.location.reload();
					}, 500);
				}
			});
		});
	});

	function confirmDelete(id) {
		swal({
			title: "Are you sure?",
			text: "Once deleted, you will not be able to recover this image!",
			icon: "warning",
			buttons: true,
			dangerMode: true,
		}).then((willDelete) => {
			if (willDelete) deleteImage(id);
		});
	}

	function deleteImage(id) {
		let imageId = id.split('-');
		let formData = new FormData();
		formData.append('id', imageId[1]);
		formData.append('image_index', imageId[2]);

		Car.deleteImage(formData).then(function(response) {
			if(response.status) {
				alertify.success(response.message);
				setTimeout(function() {
					window.location.reload();
				}, 500);
			}
		});
	}

</script>
